{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row" style="background: dimgrey">
            <div class="col-md-1" style="background: mediumaquamarine">.col-md-1</div>
            <div class="col-md-1" style="background: indianred">.col-md-1</div>
            <div class="col-md-1" style="background: mediumaquamarine">.col-md-1</div>
            <div class="col-md-1" style="background: indianred">.col-md-1</div>
            <div class="col-md-1" style="background: mediumaquamarine">.col-md-1</div>
            <div class="col-md-1" style="background: indianred">.col-md-1</div>
            <div class="col-md-1" style="background: mediumaquamarine">.col-md-1</div>
            <div class="col-md-1" style="background: indianred">.col-md-1</div>
            <div class="col-md-1" style="background: mediumaquamarine">.col-md-1</div>
            <div class="col-md-1" style="background: indianred">.col-md-1</div>
            <div class="col-md-1" style="background: mediumaquamarine">.col-md-1</div>
            <div class="col-md-1" style="background: indianred">.col-md-1</div>
        </div>
        <div class="row">
            <div class="col-md-8">.col-md-8</div>
            <div class="col-md-4">.col-md-4</div>
        </div>
        <div class="row">
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4">.col-md-4</div>
        </div>
        <div class="row">
            <div class="col-md-6">.col-md-6</div>
            <div class="col-md-6">.col-md-6</div>
        </div>
        <div class="row" style="background: grey">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="background: blueviolet">
                <h1>Hello admin</h1>
            </div> 
            <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4" style="background: greenyellow">
                <a href="/{{ path('sonata_admin_dashboard') }}">Admin</a>
            </div>
        </div>
    </div>

{% endblock %}