<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="fr">
    <id>tag:collectif-osef.fr,2017-12-15:blog</id>
    <title>Collectif OSEF - Blog</title>
    <subtitle>Production de podcast</subtitle>
    <link href="http://openweb.eu.org/feed.atom" rel="self" type="application/atom+xml" />
    <link href="https://www.collectif-osef.fr/" rel="alternate" type="text/html" />
    {#<updated>2013-05-01T11:34:00Z</updated>#}

    <author>
        <name>Collectif OSEF</name>
        <uri>https://www.collectif-osef.fr/</uri>
    </author>

    {#<link href="http://creativecommons.org/licenses/by-sa/1.0/legalcode" rel="license" />#}

    <entry xml:lang="en">

        <id>tag:openweb.eu.org,2013-02-18:defining-breakpoints</id>

        <link rel="alternate" type="text/html"

              href="http://openweb.eu.org/articles/defining-breakpoints"/>

        <title>Defining Breakpoints</title>

        <published>2013-02-18T07:49:07Z</published>

        <updated>2013-02-18T13:45:58Z</updated>

        {% for podcast in podcasts %}
        <content type="xhtml">

            <div xmlns="http://www.w3.org/1999/xhtml">

                … {{ podcast.name }} …

            </div>

        </content>
        {% endfor %}

    </entry>

</feed>